[user]
        name = okimurak
        email = okimurak@​users​.noreply​.github​.com
[include]
        path = .gitconfig_shared

[alias]
        tree = log --graph --pretty=format:'%x09%C(auto) %h %Cgreen %ar %Creset%x09by"%C(cyan ul)%an%Creset" %x09%C(auto)%s %d'

[github]
	user = okimurak