[user]
        name = okimurak
[include]
	path = ~/.gitconfig_shared
[alias]
        tree = log --graph --pretty=format:'%x09%C(auto) %h %Cgreen %ar %Creset%x09by"%C(cyan ul)%an%Creset" %x09%C(auto)%s %d'
[rebase]
        autostash = true
[github]
	user = okimurak
[core]
	editor = vmi -c \"set fenc=utf-8\"
[color]
	diff = auto
	status = auto
	branch = auto
